build/**

module/src/.___TMP
**/*~
# CMake && Make...
module/src/**/cmake_install.cmake
module/src/**/CMakeFiles/**
module/src/**/CMakeCache.txt
module/src/Makefile

# Prerequisites
module/src/**/*.d

# Compiled Object files
module/src/**/*.slo
module/src/**/*.lo
module/src/**/*.o
module/src/**/*.obj

# Precompiled Headers
module/src/**/*.gch
module/src/**/*.pch

# Compiled Dynamic libraries
module/src/**/*.so
module/src/**/*.dylib
module/src/**/*.dll

# Compiled Static libraries
module/src/**/*.lai
module/src/**/*.la
module/src/**/*.a
module/src/**/*.lib

# Debug Symbols
module/src/**/*.pdb

# Memory dump
**/*.dmp
